<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="network.xyo.ble.sample">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:required="false" />

    <application
        android:name="network.xyo.ble.sample.XYApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name="network.xyo.ble.sample.activities.XYOAppActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name="network.xyo.ble.sample.activities.XYODeviceActivity" android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity
            android:exported="true"
            android:name="network.xyo.ble.sample.activities.XYOTestActivity" android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

    </application>

</manifest>